[submodule "third_party/volk"]
	path = third_party/volk
	url = git@github.com:zeux/volk
[submodule "third_party/glm"]
	path = third_party/glm
	url = git@github.com:g-truc/glm
[submodule "third_party/stb"]
	path = third_party/stb
	url = git@github.com:nothings/stb
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = git@github.com:ocornut/imgui
[submodule "third_party/tinygltf"]
	path = third_party/tinygltf
	url = git@github.com:syoyo/tinygltf
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = git@github.com:glfw/glfw
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = git@github.com:KhronosGroup/glslang
[submodule "third_party/spirv-cross"]
	path = third_party/spirv-cross
	url = git@github.com:KhronosGroup/SPIRV-Cross
[submodule "third_party/hwcpipe"]
	path = third_party/hwcpipe
	url = git@github.com:ARM-software/HWCPipe
[submodule "third_party/vma"]
	path = third_party/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gabime/spdlog
[submodule "third_party/ktx"]
	path = third_party/ktx
	url = git@github.com:KhronosGroup/KTX-Software
[submodule "third_party/astc"]
	path = third_party/astc
	url = git@github.com:ARM-software/astc-encoder
[submodule "third_party/CTPL"]
	path = third_party/CTPL
	url = git@github.com:vit-vit/CTPL
[submodule "third_party/vulkan"]
	path = third_party/vulkan
	url = git@github.com:KhronosGroup/Vulkan-Headers
[submodule "assets"]
	path = assets
	url = git@github.com:KhronosGroup/Vulkan-Samples-Assets
	shallow = true
[submodule "third_party/cli11"]
	path = third_party/cli11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "third_party/opencl"]
	path = third_party/opencl
	url = git@github.com:KhronosGroup/OpenCL-Headers.git
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = git@github.com:fmtlib/fmt
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = git@github.com:wolfpld/tracy.git
